@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25px);
    }
  } 
  
body{
    background-color: rgb(255, 253, 219);
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
}

nav{
    position: sticky;
    text-align: center;
    font-size: 30px;
}

.title-name{
    text-align: center;
    color: seagreen;
    font-size: 85px;
    text-shadow: 0 0 30px rgb(0, 239, 0);
    animation: bounce 1s infinite ease-in-out;
}

img{
    width: 200px;
    margin-top: 20px;
}

p{
    font-size: 20px;
    margin: 20px;
}

.info-title{
    text-decoration: underline;
    color:darkcyan;
    font-size: 45px;
}

.social{
    display: flex;
}

a{
    text-decoration: none;
    margin-right: 50px;
    color: darkslategrey;
}

a:hover{
    text-decoration: underline;
}

h3{
    color: seagreen;
    text-decoration: underline;
}

.experience-list{
    font-size: 20px;
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.exp-1, .exp-2, .exp-3, .exp-4, .exp-5, .exp-6, .exp-7, .exp-8{
    width: 500px;
}

li{
    list-style-type:none;
    font-size: 20px;
}

i{
    color: black;
}