@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25px);
    }
  } 
  
body{
    background-color: rgb(255, 253, 219);
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    padding: 20px;
}

.title-name{
    text-align: center;
    color: seagreen;
    font-size: 85px;
    text-shadow: 0 0 30px rgb(0, 239, 0);
    animation: bounce 1s infinite ease-in-out;
}

img{
    width: 160px;
}

p{
    font-size: 25px;
    margin: 20px;
}

.info-title{
    text-decoration: underline;
    color:darkcyan;
    font-size: 45px;
}

.social{
    display: flex;
}

a{
    text-decoration: none;
    margin-right: 50px;
    color: darkslategrey;
}

a:hover{
    text-decoration: underline;
}

h3{
    color: seagreen;
    text-decoration: underline;
}

li{
    list-style-type: none;
    font-size: 25px;
}

.experience-list{
    display: flex;
    justify-content: center;
    margin: 50px 50px 15px 15px;
}

.exp-1{
    background-color: rgba(255, 0, 0, 0.3);
    text-align: center;
    padding: 15px;
    margin: 25px;
}

.exp-2{
    background-color: rgba(6, 247, 255, 0.123);
    text-align: center;
    padding: 15px;
    margin: 25px;
}

.exp-3{
    background-color: rgba(0, 100, 0, 0.3);
    text-align: center;
    padding: 15px;
    margin: 25px;
}

.exp-4{
    background-color: rgba(255, 105, 180, 0.3);
    text-align: center;
    padding: 15px;
    margin: 25px;
}

i{
    color: black;
}